* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.navbar {
  background-color: #070d1a;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
}

.brand {
  color: white;
  text-decoration: none;
  position: relative;
  left: 200px;
}

.Nav-Item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  position: relative;
  left: 350px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  width: 100vw;
  height: 840px;
  background-color: #070d1a;
}
.h4 {
  position: absolute;
  top: 350px;
  left: 350px;
}
.firsth4 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.h4line {
  border-bottom: 2px solid #3fcddd;
  width: 40px;
  margin-top: 10px;
}

.title {
  color: white;
  font-size: 50px;
  width: 500px;
  position: absolute;
  top: 410px;
  left: 350px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.spann {
  color: #10a3d7;
  border-bottom: 5px solid #10a3d7;
}

.explanation {
  color: rgb(161, 159, 159);
  width: 550px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
  position: absolute;
  top: 570px;
  left: 350px;
}

.ourServices {
  background-color: #10a3d7;
  color: white;
  border: none;
  width: 190px;
  height: 70px;
  border-radius: 300px;
  font-size: 20px;
  position: absolute;
  top: 730px;
  left: 350px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.ourServices:hover {
  box-shadow: 0px 20px 15px #3fcddd;
  transform: translateY(-20px);
}

#right {
  position: absolute;
  left: 156px;
  top: 25px;
}

.view {
  background-color: #070d1a;
  border: 2px solid grey;
  color: white;
  width: 190px;
  height: 70px;
  border-radius: 300px;
  font-size: 20px;
  position: absolute;
  top: 730px;
  left: 600px;
  transition: all 0.5s ease-in-out;
}

.view:hover {
  transform: translateY(-20px);
  border: 2px solid white;
}

.photo {
  width: 600px;
  height: 675px;
  position: absolute;
  top: 250px;
  left: 930px;
  border-radius: 25px;
}

.happy {
  color: white;
  width: 150px;
  height: 100px;
  background-color: #131825;
  border-radius: 15px;
  position: absolute;
  top: 350px;
  left: 1430px;
}
.number {
  font-weight: 900;
  font-size: 36px;
  display: block;
  position: relative;
  top: 20px;
  left: 25%;
}

.cilents {
  position: relative;
  top: 30px;
  left: 25%;
  color: grey;
}
.yearOfexperience {
  width: 180px;
  height: 100px;
  background: rgba(19, 24, 37, 0.7);
  border-radius: 15px;
  position: absolute;
  top: 760px;
  left: 1000px;
}
.year {
  font-weight: 900;
  color: #10a3d7;
  font-size: 55px;
  display: block;
  position: relative;
  top: 10px;
  left: 15%;
}

.experience {
  position: relative;
  top: 10px;
  left: 15%;
  color: grey;
}

.aboutkismi {
  background-color: #111623;
  height: 900px;
  width: 100vw;
}

.titleabout {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  left: 47%;
  top: 1070px;
}
.arkaabout {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 65px;
  left: 45%;
}

.aciklama {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 1170px;
  left: 35%;
}

.companyOverview {
  background: rgba(16, 163, 215, 0.1);
  position: absolute;
  top: 1250px;
  left: 55vw;
  padding: 10px 20px;
  border-radius: 10px;
}

.companyOverviewText {
  color: #10a3d7;
}

.aboutphoto {
  width: 640px;
  height: 435px;
  border-radius: 20px;
  position: absolute;
  top: 1250px;
  left: 350px;
}

.inPhoto {
  width: 575px;
  background-color: #10a3d7;
  height: 125px;
  border-radius: 10px;
  position: absolute;
  top: 1600px;
  left: 390px;
  box-shadow: 0px 0px 30px rgb(16, 163, 215);
}
.ampul {
  border-radius: 50%;
  padding: 25px 30px;

  display: inline-block;
  background: rgba(135, 218, 248, 0.5);
  position: relative;
  left: 25px;
  top: 15px;
}
#iconampul {
  color: white;
  font-size: 50px;
  position: relative;
}
.inPhotoTitle {
  color: white;
  font-family: sans-serif;
  position: relative;
  top: -80px;
  left: 130px;
  font-size: 30px;
}
.inPhotoText {
  color: white;
  position: relative;
  top: -75px;
  left: 130px;
  font-size: 18px;
  width: 400px;
  font-family: sans-serif;
}

.againText {
  color: white;
  font-size: 32px;
  width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1300px;
  left: 55vw;
}
.againText1 {
  color: white;
  width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1400px;
  left: 55vw;
  font-size: 17px;
}
.againText2 {
  color: white;
  width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1500px;
  left: 55vw;
  font-size: 17px;
}

.Fundamental {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1600px;
  left: 55vw;
}

.firsttik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1670px;
  left: 55vw;
}

#firsttikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.firsttiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.ikincitik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1670px;
  left: 69vw;
}

#ikincitikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.ikincitiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.ucuncutik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1670px;
  left: 79vw;
}

#ucuncutikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.ucuncutiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.dorduncutik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1750px;
  left: 55vw;
}

#dorduncutikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.dorduncutiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.besincitik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1750px;
  left: 65vw;
}

#besincitikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.besincitiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.altincitik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1750px;
  left: 75vw;
}

#altincitikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.altincitiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.card-part {
  height: 450px;
  width: 100vw;
  background-color: #070d1a;
}
.allcard {
  width: 930px;
  height: 250px;
  position: relative;
  top: 70px;
  left: 500px;
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}

.circleCard {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(16, 163, 215, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard:hover {
  transform: scale(1.2);
}
#cardicon {
  font-size: 50px;
  color: #10a3d7;
  position: relative;
  top: 14px;
}
.card1title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 65px;
}
.card1text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 43px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card2 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}
.circleCard2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(189, 125, 6, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard2:hover {
  transform: scale(1.2);
}
#cardicon2 {
  font-size: 50px;
  color: rgb(189, 125, 6);
  position: relative;
  top: 14px;
}
.card2title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 65px;
}
.card2text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 65px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card3 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}
.circleCard3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(28, 207, 22, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard3:hover {
  transform: scale(1.2);
}
#cardicon3 {
  font-size: 50px;
  color: rgba(28, 207, 22);
  position: relative;
  top: 14px;
}
.card3title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 45px;
}
.card3text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card4 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}

.circleCard4 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(192, 22, 207, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard4:hover {
  transform: scale(1.2);
}
#cardicon4 {
  font-size: 50px;
  color: rgb(192, 22, 207);
  position: relative;
  top: 14px;
}
.card4title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 73px;
}
.card4text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.services {
  background-color: #070d1a;
  width: 100vw;
  height: 1200px;
}
.titleservices {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 47%;
}
.arkaservices {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 50px;
  left: 44%;
}
.servicesaciklama {
  color: white;
  font-family: sans-serif;
  position: relative;
  top: 30px;
  left: 35%;
}

.servicesKutucuk {
  display: inline;
  padding: 10px 20px;
  background-color: #10a3d7;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  position: relative;
  top: 100px;
  left: 300px;
  font-family: sans-serif;
}
.servicestitle2 {
  position: relative;
  top: 140px;
  left: 300px;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
  width: 900px;
}

.servicestext {
  color: rgb(185, 185, 185);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 180px;
  left: 300px;
  font-size: 20px;
  width: 900px;
}
.servicestext2 {
  color: rgb(185, 185, 185);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 220px;
  left: 300px;
  font-size: 20px;
  width: 900px;
}

.serviceskutubg1 {
  width: 310px;
  height: 122px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: -180px;
  left: 1300px;
}
.serviceskutu1 {
  width: 310px;
  height: 122px;
  background-color: #1c212d;
  border-radius: 10px;
  position: relative;
  top: -302px;
  left: 1304px;
}
.serviceskutu1title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.serviceskutu1text {
  color: rgb(185, 185, 185);
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}

.serviceskutubg2 {
  width: 310px;
  height: 122px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: -280px;
  left: 1300px;
}
.serviceskutu2 {
  width: 310px;
  height: 122px;
  background-color: #1c212d;
  border-radius: 10px;
  position: relative;
  top: -402px;
  left: 1304px;
}
.serviceskutu2title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.serviceskutu2text {
  color: rgb(185, 185, 185);
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}

.serviceskutubg3 {
  width: 310px;
  height: 122px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: -380px;
  left: 1300px;
}
.serviceskutu3 {
  width: 310px;
  height: 122px;
  background-color: #1c212d;
  border-radius: 10px;
  position: relative;
  top: -502px;
  left: 1304px;
}
.serviceskutu3title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.serviceskutu3text {
  color: rgb(185, 185, 185);
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}

.services-card {
  width: 1500px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -400px;
  left: 170px;
}
.services-Card1 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card1-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px;
  transition: all 0.5s ease-in-out;
}
#services-card1-icon {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  left: 15.5px;
  top: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card1-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card1-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 340px;
  font-family: sans-serif;
}

.services-Card1:hover {
  transform: translateY(-20px);
  .services-card1-icon-box {
    background-color: #10a3d7;
  }
  #services-card1-icon {
    color: white;
  }
}

.services-Card2 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card2-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px;
  transition: all 0.5s ease-in-out;
}
#services-card2-icon {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  left: 14px;
  top: 8px;
  transition: all 0.5s ease-in-out;
}

.services-card2-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card2-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 330px;
  font-family: sans-serif;
}

.services-Card2:hover {
  transform: translateY(-20px);
  .services-card2-icon-box {
    background-color: #10a3d7;
  }
  #services-card2-icon {
    color: white;
  }
}
.services-Card3 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card3-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px;
  transition: all 0.5s ease-in-out;
}
#services-card3-icon {
  font-size: 40px;
  color: #10a3d7;
  position: relative;
  left: 6.5px;
  top: 9px;
  transition: all 0.5s ease-in-out;
}

.services-card3-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card3-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 330px;
  font-family: sans-serif;
}

.services-Card3:hover {
  transform: translateY(-20px);
  .services-card3-icon-box {
    background-color: #10a3d7;
  }
  #services-card3-icon {
    color: white;
  }
}
.services-Card4 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card4-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px;
  transition: all 0.5s ease-in-out;
}
#services-card4-icon {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  left: 10.5px;
  top: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card4-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card4-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 330px;
  font-family: sans-serif;
}

.services-Card4:hover {
  transform: translateY(-20px);
  .services-card4-icon-box {
    background-color: #10a3d7;
  }
  #services-card4-icon {
    color: white;
  }
}

.features {
  width: 100vw;
  height: 3200px;
  background-color: #070d1a;
}

.titlefeatures {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 47%;
}
.arkafeatures {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 50px;
  left: 44%;
}

.featuresalltext {
  width: 570px;
  position: relative;
  top: 100px;
  left: 350px;
}

.featurestitle2 {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}

.featurestext1 {
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  position: relative;
  top: 40px;
  font-size: 17px;
}

.featuretext2 {
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  position: relative;
  top: 80px;
  font-size: 17px;
}
.featuretext3 {
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  position: relative;
  top: 120px;
  font-size: 17px;
}
.featuretext4 {
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  position: relative;
  top: 160px;
  font-size: 17px;
}

.shild-div {
  background: rgba(16, 163, 215, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 350px;
  top: 305px;
}
#shild-icon {
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 9px;
  color: #070d1a;
}
.shild-title {
  color: white;
  position: relative;
  top: 250px;
  left: 420px;
  font-size: 28px;
  font-family: sans-serif;
}

.shild-text {
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  position: relative;
  top: 252px;
  font-size: 17px;
  left: 420px;
}
.clock-div {
  background: rgba(16, 163, 215, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 600px;
  top: 210px;
}
#clock-icon {
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  color: #070d1a;
}
.clock-title {
  color: white;
  position: relative;
  top: 150px;
  left: 680px;
  font-size: 28px;
  font-family: sans-serif;
}

.clock-text {
  color: rgb(185, 185, 185);
  font-family: sans-serif;
  position: relative;
  top: 162px;
  font-size: 17px;
  left: 690px;
}

.features-card1-bg {
  width: 330px;
  height: 280px;
  background-color: #10a3d7;
  border-radius: 8px;
  position: relative;
  top: -340px;
  left: 1000px;
}

.features-card1 {
  background-color: #1c212d;
  width: 330px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -620px;
  left: 1005px;
  transition: all 0.5s ease-in-out;
}

#shild-icon2 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card1-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card1-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 270px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card1-status {
  background: rgba(25, 135, 84, 0.1);
  color: rgb(25, 135, 84);
  width: 150px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card1-status-icon {
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 30px;
}
.features-card1-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 40px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card1:hover {
  transform: translateY(-10px);
}

.features-card2 {
  background-color: #1c212d;
  width: 330px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -900px;
  left: 1355px;
  transition: all 0.5s ease-in-out;
}

#features-card-icon2 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card2-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card2-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 270px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card2-status {
  background: rgba(255, 159, 67, 0.1);
  color: rgb(255, 159, 67);
  width: 170px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card2-status-icon {
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 30px;
}
.features-card2-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 40px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-card2:hover {
  transform: translateY(-10px);
}

.features-card3 {
  background-color: #1c212d;
  width: 330px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -880px;
  left: 1005px;
  transition: all 0.5s ease-in-out;
}

#features-card-icon3 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card3-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card3-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 270px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card3-status {
  background: rgba(25, 135, 84, 0.1);
  color: rgb(25, 135, 84);
  width: 150px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card3-status-icon {
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 30px;
}
.features-card3-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 40px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-card3:hover {
  transform: translateY(-10px);
}
.features-card4 {
  background-color: #1c212d;
  width: 330px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -1160px;
  left: 1355px;
  transition: all 0.5s ease-in-out;
}

#features-card-icon4 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card4-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card4-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 270px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card4-status {
  background: rgba(108, 117, 125, 0.1);
  color: rgb(108, 117, 125);
  width: 150px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card4-status-icon {
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 30px;
}
.features-card4-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 40px;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-card4:hover {
  transform: translateY(-10px);
}

.features-card5 {
  background-color: #1c212d;
  width: 430px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -1075px;
  left: 355px;
  transition: all 0.5s ease-in-out;
}

#features-card-icon5 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card5-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card5-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 370px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card5-status {
  background: rgba(25, 135, 84, 0.1);
  color: rgb(25, 135, 84);

  width: 120px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card5-status-icon {
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 20px;
}
.features-card5-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-card5:hover {
  transform: translateY(-10px);
}

.features-card6 {
  background-color: #1c212d;
  width: 430px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -1355px;
  left: 820px;
  transition: all 0.5s ease-in-out;
}

#features-card-icon6 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card6-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card6-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 370px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card6-status {
  background: rgba(189, 125, 6, 0.1);
  color: rgb(189, 125, 6);

  width: 120px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card6-status-icon {
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 20px;
}
.features-card6-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-card6:hover {
  transform: translateY(-10px);
}

.features-card7 {
  background-color: #1c212d;
  width: 430px;
  height: 280px;
  border-radius: 8px;
  position: relative;
  top: -1635px;
  left: 1285px;
  transition: all 0.5s ease-in-out;
}

#features-card-icon7 {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  top: 33px;
  left: 30px;
}

.features-card7-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 55px;
  left: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}

.features-card7-text {
  font-size: 16px;
  position: relative;
  top: 77px;
  left: 30px;
  color: rgb(185, 185, 185);
  width: 370px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.features-card7-status {
  background: rgba(189, 125, 6, 0.1);
  color: rgb(189, 125, 6);

  width: 120px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  top: 100px;
  left: 30px;
}

#features-card7-status-icon {
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 20px;
}
.features-card7-status-text {
  display: inline;
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.features-card7:hover {
  transform: translateY(-10px);
}

.projects-div {
  width: 360px;
  height: 550px;
  background-color: #131825;
  position: relative;
  left: 355px;
  top: -1500px;
  border-radius: 10px;
}

.projects-card-1 {
  width: 360px;
  height: 90px;
  background-color: #10a3d7;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.projects-card-1-icon-div {
  width: 60px;
  height: 60px;
  background: rgb(60, 187, 233);
  position: relative;
  top: 13px;
  left: 25px;
  border-radius: 20px;
}
#projects-card-1-icon {
  position: relative;
  top: 13px;
  left: 13px;
  color: white;
  font-size: 30px;
}

.projects-card-1-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -40px;
  left: 100px;
}

.projects-card-1-text {
  color: rgb(230, 230, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -30px;
  left: 100px;
}
.projects-card-1:hover {
  transform: translateY(-10px);
}

.projects-card-2 {
  width: 360px;
  height: 90px;
  background-color: #1c212d;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 20px;
}

.projects-card-2-icon-div {
  width: 60px;
  height: 60px;
  background: rgba(60, 187, 233, 0.1);
  position: relative;
  top: 13px;
  left: 25px;
  border-radius: 20px;
}
#projects-card-2-icon {
  position: relative;
  top: 15px;
  left: 15px;
  color: rgb(60, 187, 233);
  font-size: 30px;
}

.projects-card-2-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -40px;
  left: 100px;
}

.projects-card-2-text {
  color: rgb(230, 230, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -30px;
  left: 100px;
}
.projects-card-2:hover {
  transform: translateY(-10px);
  .projects-card-2-icon-div {
    color: rgb(16, 163, 215);
  }
}
.projects-card-3 {
  width: 360px;
  height: 90px;
  background-color: #1c212d;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 40px;
}

.projects-card-3-icon-div {
  width: 60px;
  height: 60px;
  background: rgba(60, 187, 233, 0.1);
  position: relative;
  top: 13px;
  left: 25px;
  border-radius: 20px;
}
#projects-card-3-icon {
  position: relative;
  top: 15px;
  left: 15px;
  color: rgb(60, 187, 233);
  font-size: 30px;
}

.projects-card-3-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -40px;
  left: 100px;
}

.projects-card-3-text {
  color: rgb(230, 230, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -30px;
  left: 100px;
}
.projects-card-3:hover {
  transform: translateY(-10px);
}

.projects-card-4 {
  width: 360px;
  height: 90px;
  background-color: #1c212d;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 60px;
}

.projects-card-4-icon-div {
  width: 60px;
  height: 60px;
  background: rgba(60, 187, 233, 0.1);
  position: relative;
  top: 13px;
  left: 25px;
  border-radius: 20px;
}
#projects-card-4-icon {
  position: relative;
  top: 15px;
  left: 15px;
  color: rgb(60, 187, 233);
  font-size: 30px;
}

.projects-card-4-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -40px;
  left: 100px;
}

.projects-card-4-text {
  color: rgb(230, 230, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -30px;
  left: 100px;
}
.projects-card-4:hover {
  transform: translateY(-10px);
}
.projects-card-5 {
  width: 360px;
  height: 90px;
  background-color: #1c212d;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 90px;
}

.projects-card-5-icon-div {
  width: 60px;
  height: 60px;
  background: rgba(60, 187, 233, 0.1);
  position: relative;
  top: 13px;
  left: 25px;
  border-radius: 20px;
}
#projects-card-5-icon {
  position: relative;
  top: 15px;
  left: 15px;
  color: rgb(60, 187, 233);
  font-size: 30px;
}

.projects-card-5-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -40px;
  left: 100px;
}

.projects-card-5-text {
  color: rgb(230, 230, 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -30px;
  left: 100px;
}
.projects-card-5:hover {
  transform: translateY(-10px);
}

.theProject {
  width: 860px;
  height: 670px;
  background-color: #1c212d;
  border-radius: 15px;
  position: relative;
  top: -2050px;
  left: 800px;
}
.theptojecttitle {
  font-size: 28px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 60px;
  left: 30px;
  display: inline;
}
.theprojectlinediv {
  position: relative;
  top: 70px;
  left: 30px;
  width: 100px;
  height: 5px;
  background-color: #10a3d7;
  border: none;
  border-radius: 20px;
}

.theprojecttext {
  font-size: 24px;
  color: rgb(187, 190, 192);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 330px;
  position: relative;
  top: 100px;
  left: 30px;
}

.theprojectkutucuk {
  width: 330px;
  height: 100px;
  background-color: rgba(16, 163, 215, 0.1);
  padding: 14px;
  left: 30px;
  border-radius: 15px;
  position: relative;
  top: 120px;
}
.theprojectkutucuktext {
  color: rgb(187, 190, 192);

  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.theprojectul {
  color: #10a3d7;

  list-style: none;
  position: relative;
  top: 140px;
  left: 30px;
}

#theprojectliicon1 {
  font-size: 30px;
}

.theprojectli {
  margin: 10px;
  transition: all 0.4s ease-in;
}

.theprojectli:hover {
  transform: translateX(10px);
}

.theprojectlitext {
  display: inline;
  margin-left: 10px;
  color: rgb(187, 190, 192);
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.TheProjectImage {
  max-width: 380px;
  max-height: 380px;
  position: relative;
  top: -450px;
  left: 450px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.TheProjectImage:hover {
  transform: scale(1.1);
}

.premium-div {
  width: 1300px;
  height: 560px;
  background-color: #171a22;
  position: relative;
  top: -1600px;
  left: 355px;
  border-radius: 30px;
  box-shadow: 0px 0px 200px #035877;
}

.first-part {
  width: 900px;
  height: 560px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#first-part-svg {
  position: relative;
  top: -120px;
  left: 500px;
}
#first-part-svg2 {
  position: relative;
  top: 200px;
  left: -200px;
  z-index: 1;
}

.premium-box {
  width: 150px;
  height: 40px;
  background: rgba(48, 152, 190, 0.1);
  position: relative;
  top: -250px;
  left: 60px;
  border-radius: 50px;
  text-align: center;
}

.premium-box-text {
  color: #10a3d7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 9px;
  font-size: 20px;
}

.first-part-title {
  position: relative;
  color: white;
  font-size: 35px;
  width: 600px;
  top: -230px;
  left: 65px;
  z-index: 2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.first-part-text {
  color: rgb(219, 219, 219);
  width: 580px;
  position: relative;
  top: -180px;
  left: 65px;
  z-index: 2;
  font-size: 1.05rem;
  line-height: 1.6;
}

.permium-first-icon-div {
  width: 50px;
  height: 50px;
  background-color: #10a3d7;
  border-radius: 15px;
  position: relative;
  top: -140px;
  left: 60px;
  z-index: 2;
}

#permium-first-icon {
  color: white;
  font-size: 25px;
  position: relative;
  top: 15px;
  left: 15px;
}

.premium-icon-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  top: -200px;
  left: 130px;
  z-index: 2;
}
.premium-icon1-text {
  color: rgb(219, 219, 219);
  width: 200px;
  position: relative;
  top: -190px;
  left: 130px;
  z-index: 2;
}

.permium-first-icon2-div {
  width: 50px;
  height: 50px;
  background-color: #10a3d7;
  border-radius: 15px;
  position: relative;
  top: -245px;
  left: 400px;
  z-index: 2;
}

#permium-second-icon {
  color: white;
  font-size: 25px;
  position: relative;
  top: 13px;
  left: 13px;
}

.premium-icon2-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  top: -310px;
  left: 470px;
  z-index: 2;
}
.premium-icon2-text {
  color: rgb(219, 219, 219);
  width: 200px;
  position: relative;
  top: -296px;
  left: 470px;
  z-index: 2;
}

.premium-div-button1 {
  border: none;
  width: 150px;
  height: 55px;
  background-color: #10a3d7;
  position: relative;
  top: -250px;
  left: 60px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.premium-div-button2 {
  border: none;
  width: 150px;
  height: 55px;
  background-color: #171a22;
  position: relative;
  top: -250px;
  left: 80px;
  border-radius: 10px;
  border: 2px solid #10a3d7;
  color: rgb(16, 163, 215);
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.premium-div-button2:hover {
  background-color: rgba(16, 163, 215, 0.1);
}

#days-icon {
  color: #10a3d7;
  font-size: 35px;
  position: relative;
  top: -240px;
  left: 150px;
}

.days-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -282px;
  left: 500px;
  font-size: 18px;
}

.second-part {
  width: 550px;
  height: 560px;
  background: rgba(16, 163, 215, 0.1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  top: -560px;
  left: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#second-part-img {
  width: 450px;
  position: relative;
  top: 10px;
  z-index: 2;
}

.second-part-first-box {
  width: 126px;

  height: 50px;
  background-color: #171a22;
  position: absolute;
  top: 120px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: to-y 10s linear infinite;
  z-index: 3;
}

#second-part-first-box-icon {
  color: #10a3d7;
}

.secont-part-first-box-text {
  display: inline;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.second-part-second-box {
  width: 126px;

  height: 50px;
  background-color: #171a22;
  position: absolute;
  top: 400px;
  left: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: to-y 10s linear infinite;
  z-index: 3;
}

#second-part-second-box-icon {
  color: #10a3d7;
}

.secont-part-second-box-text {
  display: inline;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes to-y {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.portfolio {
  background-color: #070d1a;
  height: 1700px !important;
}
.titlePortfolio {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 47%;
}
.arkaPortfolio {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 50px;
  left: 44%;
}

.category {
  width: 306px;
  height: 300px;
  background-color: #1c212d;
  position: relative;
  top: 200px;
  left: 300px;
  border-radius: 20px;
}

.category-ul {
  list-style: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.allstylediv {
  width: 250px;
  height: 50px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: 20px;
  left: 30px;
  z-index: 1;
}

.category-li1 {
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(28, 33, 45, 0.8);

  position: relative;
  z-index: 2;
  top: -30px;
  left: 35px;
  color: #10a3d7;
}
.category-li1text {
  position: relative;
  top: 13px;
  left: 20px;
}

.category-li2,
.category-li3,
.category-li4,
.category-li5 {
  position: relative;
  left: 55px;
  transition: all 0.2s linear;
}
.category-li3 {
  position: relative;
  top: 20px;
}
.category-li4 {
  position: relative;
  top: 40px;
}
.category-li5 {
  position: relative;
  top: 60px;
}

.category-li:hover {
  color: #10a3d7;
}

.portfolio-image-1 {
  width: 470px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  left: 650px;
  top: -100px;
}
.portfolio-image-2 {
  width: 470px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  left: 670px;
  top: -100px;
}
.portfolio-image-3 {
  width: 470px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  left: -300px;
  top: 320px;
}
.portfolio-image-4 {
  width: 470px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  left: -280px;
  top: 320px;
}

.portfolio-image-5 {
  width: 470px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  left: 640px;
  top: 340px;
}
.portfolio-image-6 {
  width: 470px;
  height: 400px;
  border-radius: 40px;
  position: relative;
  left: 660px;
  top: 340px;
}

.pricing {
  height: 1100px;
  background-color: #070d1a;
}
.titlepricing {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 47%;
}
.arkapricing {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 50px;
  left: 44%;
}
.allpackage {
  width: 1365px;
  display: flex;
  justify-content: space-evenly;
  margin-left: -10px;
}
.package1 {
  width: 415px;
  height: 639px;
  background-color: #1c212d;
  border-radius: 30px;
  position: relative;
  top: 100px;
  left: 300px;
  display: flex;
}

.packege1-icon-div {
  width: 70px;
  height: 70px;
  background-color: rgba(16, 163, 215, 0.2);
  border-radius: 15px;
  position: relative;
  top: 50px;
  left: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#packege1-icon {
  color: #10a3d7;
  font-size: 40px;
}

.package1-title {
  position: relative;
  top: 160px;
  font-size: 30px;
  left: 75px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dolarsembol1 {
  font-size: 30px;
  color: white;
  position: relative;
  top: 230px;
  left: -30px;
  font-weight: bold;
  font-family: sans-serif;
}
.price1 {
  font-size: 65px;
  color: white;
  position: relative;
  top: 230px;
  left: -25px;
  font-weight: bold;
  font-family: sans-serif;
}
.duration1 {
  color: grey;
  font-family: sans-serif;
  position: relative;
  top: 275px;
  left: -20px;
}
.package-1-text {
  position: absolute;
  top: 340px;
  left: 40px;
  text-align: center;
  color: rgb(219, 219, 219);
  width: 350px;
  font-size: 17px;
  font-family: sans-serif;
}

.Services-ul-pricing {
  color: rgb(202, 202, 202);
  list-style: none;
  position: absolute;
  top: 400px;
  left: 20px;
}

#pricing-li-icon1,
#pricing-li-icon2,
#pricing-li-icon3 {
  color: #10a3d7;
  padding: 10px;
  font-size: 20px;
}

.Services-li-pricing1,
.Services-li-pricing2,
.Services-li-pricing3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
}

.package1-button {
  width: 120px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  top: 560px;
  left: -150px;
  background-color: rgba(16, 163, 215, 0.1);
  border: none;
  color: #10a3d7;
  font-size: 20px;
}

.package2 {
  width: 415px;
  height: 639px;
  background: rgba(28, 33, 45, 0.7);

  border-radius: 30px;
  position: relative;
  top: 100px;
  left: 300px;
  display: flex;
  border: 1px solid #035877;
  z-index: 1;
}

.packege2-icon-div {
  width: 70px;
  height: 70px;
  background-color: rgba(16, 163, 215, 0.2);
  border-radius: 15px;
  position: relative;
  top: 50px;
  left: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#packege2-icon {
  color: #10a3d7;
  font-size: 40px;
}

.package2-title {
  position: absolute;
  top: 160px;
  font-size: 30px;
  left: 135px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.dolarsembol2 {
  font-size: 30px;
  color: white;
  position: relative;
  top: 230px;
  left: 65px;
  font-weight: bold;
  font-family: sans-serif;
}
.price2 {
  font-size: 65px;
  color: white;
  position: relative;
  top: 230px;
  left: 70px;
  font-weight: bold;
  font-family: sans-serif;
}
.duration2 {
  color: grey;
  font-family: sans-serif;
  position: relative;
  top: 275px;
  left: 80px;
}
.package-2-text {
  position: absolute;
  top: 340px;
  left: 40px;
  text-align: center;
  color: rgb(219, 219, 219);
  width: 350px;
  font-size: 17px;
  font-family: sans-serif;
}

.Services-ul-pricing2 {
  color: rgb(202, 202, 202);
  list-style: none;
  position: absolute;
  top: 400px;
  left: 20px;
}

#pricing-li-icon1,
#pricing-li-icon2,
#pricing-li-icon3 {
  color: #10a3d7;
  padding: 10px;
  font-size: 20px;
}

.Services-li-2-pricing1,
.Services-li-2-pricing2,
.Services-li-2-pricing3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
}

.package2-button {
  width: 120px;
  height: 50px;
  border-radius: 40px;
  position: relative;
  top: 560px;
  left: -50px;
  background-color: #10a3d7;
  border: none;
  color: white;
  font-size: 20px;
}

.package2ustu {
  width: 220px;
  height: 20px;
  color: white;
  background-color: #10a3d7;
  border-radius: 20px;
  text-align: center;
  top: 8670px;
  left: 870px;
  position: absolute;
  z-index: 2;
}

.questions {
  height: 1200px;
  background-color: #070d1a;
}
.titleQuestions {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 37%;
}
.arkaQuestions {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 50px;
  left: 27%;
}

.photoquestions {
  width: 530px;
  height: 360px;
  position: relative;
  top: 150px;
  left: 400px;
}

.assistance {
  width: 460px;
  height: 220px;
  background-color: rgba(16, 163, 215, 0.1);
  border-radius: 20px;
  position: relative;
  top: 170px;
  left: 400px;
}
#assistanceicon {
  color: #10a3d7;
  font-size: 40px;
  position: relative;
  top: 30px;
  left: 40px;
}
.assistancetitle {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  left: 90px;
}

.assitancetext {
  color: rgb(221, 221, 221);
  position: relative;
  top: 30px;
  left: 40px;
}

.assitance-btn {
  background-color: #10a3d7;
  color: white;
  border: none;
  border-radius: 20px;
  width: 240px;
  height: 40px;
  font-size: 20px;
  position: relative;
  top: 60px;
  left: 40px;
}

.soruturu {
  width: 150px;
  height: 40px;
  background-color: #10a3d7;
  color: white;
  font-family: sans-serif;
  position: relative;
  top: -420px;
  left: 1000px;

  border-radius: 10px;
  text-align: center;
}

.soruturu-div-h4 {
  position: relative;
  top: 10px;
}
.soruturu-h4-2 {
  width: 150px;
  height: 40px;
  color: rgb(219, 219, 219);
  font-family: sans-serif;
  text-align: center;
  position: relative;
  top: 10px;
}
.soruturu2 {
  width: 150px;
  transition: all 0.5s linear;
  position: relative;
  top: -460px;
  left: 1200px;
}
.soruturu2:hover {
  background-color: rgba(28, 33, 45, 0.5);
  border-radius: 10px;
}
.soruturu3 {
  width: 150px;
  transition: all 0.5s linear;
  position: relative;
  top: -500px;
  left: 1400px;
}
.soruturu3:hover {
  background-color: rgba(28, 33, 45, 0.5);
  border-radius: 10px;
}
.soruturuciz {
  position: relative;
  top: -470px;
  left: 1000px;
  width: 600px;
}

.collapse1 {
  width: 600px;
  height: 80px;
  background-color: #131825;
  border-radius: 10px;
  position: relative;
  top: -400px;
  left: 1000px;
  margin-bottom: 20px;
}
.collapse-1-title {
  color: white;
  font-family: sans-serif;
  font-size: 17px;
  position: relative;
  top: 30px;
  left: 40px;
}

#collapse1-icon {
  color: #10a3d7;
  font-size: 35px;
  position: relative;
  left: 93%;
}
.Team {
  height: 900px;
  background-color: #070d1a;
}

.teamTitle {
  position: relative;
  left: 300px;
  font-size: 35px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.team-cizgi {
  width: 70px;
  height: 4px;
  background-color: #10a3d7;
  border-radius: 20px;
  position: relative;
  top: 10px;
  left: 300px;
}

.teamtext {
  width: 600px;
  color: rgb(201, 199, 199);
  position: relative;
  top: 50px;
  left: 300px;
  font-size: 19px;
  font-family: sans-serif;
}

.yonverme {
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0, 0);
  color: #10a3d7;
  border-radius: 50%;
  border: 1px solid #10a3d7;
  font-size: 25px;
  position: relative;
  left: 1600px;
}
.yonverme2 {
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0, 0);
  color: #10a3d7;
  border-radius: 50%;
  border: 1px solid #10a3d7;
  font-size: 25px;
  position: relative;
  left: 1500px;
}

.allperson {
  position: relative;
  top: 100px;
  left: 280px;
  width: 1500px;
  display: flex;
  justify-content: space-evenly;
}
.person1-card {
  height: 520px;
  width: 340px;
  background-color: #1c212d;
  border-radius: 15px;
}

#person1photo {
  width: 340px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.person1-name {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}
.person1-task {
  color: #10a3d7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  position: relative;
  top: 25px;
  left: 30px;
}

.person1-text {
  color: rgb(225, 225, 225);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 290px;
  position: relative;
  top: 40px;
  left: 30px;
}

.Contact {
  height: 1500px;
  background-color: #070d1a;
}

.titleContact {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 47%;
}
.arkaContact {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 65px;
  left: 44%;
}

.Contact-Information {
  height: 920px;
  width: 475px;
  background-color: #10a3d7;
  border-radius: 25px;
  position: relative;
  top: 150px;
  left: 200px;
}

.contact-information-title {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  position: relative;
  top: 50px;
  left: 30px;
}
.contact-information-text {
  color: rgb(219, 219, 219);
  position: relative;
  top: 70px;
  left: 30px;
  font-size: 18px;
  font-family: sans-serif;
}

.location-div {
  width: 370px;
  height: 90px;
  background-color: rgb(25, 175, 230);
  border-radius: 15px;
  position: relative;
  top: 140px;
  left: 50px;
  transition: all 0.3s linear;
}
.location-div:hover{
  transform: translateY(-10px);

}
#location-icon {
  padding: 20px 25px;
  background-color: #3abff0;
  color: white;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 20px;
}

.location-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -35px;
  left: 120px;
}
.thelocation {
  width: 300px;
  color: rgb(241, 241, 241);
  position: relative;
  top: -25px;
  left: 120px;
  font-family: sans-serif;
}
.email-div {
  width: 370px;
  height: 90px;
  background-color: rgb(25, 175, 230);
  border-radius: 15px;
  position: relative;
  top: 170px;
  left: 50px;
  transition: all 0.3s linear;
}
.email-div:hover{
  transform: translateY(-10px);

}
#email-icon {
  padding: 20px 25px;
  background-color: #3abff0;
  color: white;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 20px;
}
.email-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -35px;
  left: 120px;
}
.theemail {
  width: 300px;
  color: rgb(241, 241, 241);
  position: relative;
  top: -25px;
  left: 120px;
  font-family: sans-serif;
}
.call-div {
  width: 370px;
  height: 90px;
  background-color: rgb(25, 175, 230);
  border-radius: 15px;
  position: relative;
  top: 200px;
  left: 50px;
    transition: all 0.3s linear;
}
.call-div:hover{
  transform: translateY(-10px);

}
#call-icon {
  padding: 20px 25px;
  background-color: #3abff0;
  color: white;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 20px;
}
.call-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -35px;
  left: 120px;
}
.thecall {
  width: 300px;
  color: rgb(241, 241, 241);
  position: relative;
  top: -25px;
  left: 120px;
  font-family: sans-serif;
}
.working-div {
  width: 370px;
  height: 90px;
  background-color: rgb(25, 175, 230);
  border-radius: 15px;
  position: relative;
  top: 230px;
  left: 50px;
   transition: all 0.3s linear;
}
.working-div:hover{
  transform: translateY(-10px);

}
#working-icon {
  padding: 20px 25px;
  background-color: #3abff0;
  color: white;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 20px;
}
.working-title {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: -35px;
  left: 120px;
}
.theworking {
  width: 300px;
  color: rgb(241, 241, 241);
  position: relative;
  top: -25px;
  left: 120px;
  font-family: sans-serif;
}

.followus {
  color: white;
  position: relative;
  top: 360px;
  font-family: sans-serif;
  font-size: 20px;
  left: 60px;
}

.facebook1 {
  position: relative;
  top: 365px;
  left: 60px;
  font-size: 20px;
  padding: 15px;
  background-color: rgb(62, 179, 221);
  border-radius: 50%;
  color: white;
  margin-left: 10px;
}

#map {
  position: relative;
  top: -770px;
  left: 730px;
  width: 900px;
  height: 250px;
  border-radius: 30px;
}

.message {
  height: 630px;
  width: 900px;
  background-color: #171a22;
  border-radius: 30px;
  position: relative;
  top: -740px;
  left: 730px;
}
.messageTitle {
  color: white;
  position: relative;
  top: 40px;
  left: 60px;
  font-size: 25px;
  font-family: sans-serif;
}
.messageText {
  color: rgb(219, 219, 219);
  position: relative;
  top: 60px;
  left: 60px;
  font-family: sans-serif;
}
.fullname {
  width: 700px;
  height: 60px;
  background-color: #171a22;
  border: 2px solid #384053;
  position: relative;
  top: 70px;
  left: 60px;
  border-radius: 20px;
  padding-left: 30px;

  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

#themessage {
  width: 700px;
  height: 90px;
  border: 2px solid #384053;
  border-radius: 20px;
  background-color: #171a22;
  position: relative;
  top: 100px;
  left: 60px;
  padding-left: 30px;
  padding-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.sendbutton {
  position: relative;
  left: 60px;
  top: 130px;
  background-color: #10a3d7;
  border-radius: 20px;

  border: none;

  width: 730px;
  height: 50px;
  color:white;
  font-family: sans-serif;
  font-size: 20px;
}
