* {
  text-transform: capitalize;
  margin: 0;

  padding: 0;
}
body {
  overflow-x: hidden;
}
.navbar {
  background-color: #070d1a;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
}

.brand {
  color: white;
  text-decoration: none;
  position: relative;
  left: 200px;
}

.Nav-Item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  position: relative;
  left: 350px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  width: 100vw;
  height: 840px;
  background-color: #070d1a;
}
.h4 {
  position: absolute;
  top: 350px;
  left: 350px;
}
.firsth4 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.h4line {
  border-bottom: 2px solid #3fcddd;
  width: 40px;
  margin-top: 10px;
}

.title {
  color: white;
  font-size: 50px;
  width: 500px;
  position: absolute;
  top: 410px;
  left: 350px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.spann {
  color: #10a3d7;
  border-bottom: 5px solid #10a3d7;
}

.explanation {
  color: rgb(161, 159, 159);
  width: 550px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 21px;
  position: absolute;
  top: 570px;
  left: 350px;
}

.ourServices {
  background-color: #10a3d7;
  color: white;
  border: none;
  width: 190px;
  height: 70px;
  border-radius: 300px;
  font-size: 20px;
  position: absolute;
  top: 730px;
  left: 350px;
  transition: all 0.5s ease-in-out;
}

.ourServices:hover {
  box-shadow: 0px 20px 15px #3fcddd;
  transform: translateY(-20px);
}

#right {
  position: absolute;
  left: 160px;
  top: 25px;
}

.view {
  background-color: #070d1a;
  border: 2px solid grey;
  color: white;
  width: 190px;
  height: 70px;
  border-radius: 300px;
  font-size: 20px;
  position: absolute;
  top: 730px;
  left: 600px;
  transition: all 0.5s ease-in-out;
}

.view:hover {
  transform: translateY(-20px);
  border: 2px solid white;
}

.photo {
  width: 600px;
  height: 675px;
  position: absolute;
  top: 250px;
  left: 930px;
  border-radius: 25px;
}

.happy {
  color: white;
  width: 150px;
  height: 100px;
  background-color: #131825;
  border-radius: 15px;
  position: absolute;
  top: 350px;
  left: 1430px;
}
.number {
  font-weight: 900;
  font-size: 36px;
  display: block;
  position: relative;
  top: 20px;
  left: 25%;
}

.cilents {
  position: relative;
  top: 30px;
  left: 25%;
  color: grey;
}
.yearOfexperience {
  width: 180px;
  height: 100px;
  background: rgba(19, 24, 37, 0.7);
  border-radius: 15px;
  position: absolute;
  top: 760px;
  left: 1000px;
}
.year {
  font-weight: 900;
  color: #10a3d7;
  font-size: 55px;
  display: block;
  position: relative;
  top: 10px;
  left: 15%;
}

.experience {
  position: relative;
  top: 10px;
  left: 15%;
  color: grey;
}

.aboutkismi {
  background-color: #111623;
  height: 900px;
  width: 100vw;
}

.titleabout {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  left: 47%;
  top: 1070px;
}
.arkaabout {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 65px;
  left: 45%;
}

.aciklama {
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 1170px;
  left: 35%;
}

.companyOverview {
  background: rgba(16, 163, 215, 0.1);
  position: absolute;
  top: 1250px;
  left: 55vw;
  padding: 10px 20px;
  border-radius: 10px;
}

.companyOverviewText {
  color: #10a3d7;
}

.aboutphoto {
  width: 640px;
  height: 435px;
  border-radius: 20px;
  position: absolute;
  top: 1250px;
  left: 350px;
}

.inPhoto {
  width: 575px;
  background-color: #10a3d7;
  height: 125px;
  border-radius: 10px;
  position: absolute;
  top: 1600px;
  left: 390px;
  box-shadow: 0px 0px 30px rgb(16, 163, 215);
}
.ampul {
  border-radius: 50%;
  padding: 25px 30px;

  display: inline-block;
  background: rgba(135, 218, 248, 0.5);
  position: relative;
  left: 25px;
  top: 15px;
}
#iconampul {
  color: white;
  font-size: 50px;
  position: relative;
}
.inPhotoTitle {
  color: white;
  font-family: sans-serif;
  position: relative;
  top: -80px;
  left: 130px;
  font-size: 30px;
}
.inPhotoText {
  color: white;
  position: relative;
  top: -75px;
  left: 130px;
  font-size: 18px;
  width: 400px;
  font-family: sans-serif;
}

.againText {
  color: white;
  font-size: 32px;
  width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1300px;
  left: 55vw;
}
.againText1 {
  color: white;
  width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1400px;
  left: 55vw;
  font-size: 17px;
}
.againText2 {
  color: white;
  width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1500px;
  left: 55vw;
  font-size: 17px;
}

.Fundamental {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  top: 1600px;
  left: 55vw;
}

.firsttik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1670px;
  left: 55vw;
}

#firsttikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.firsttiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.ikincitik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1670px;
  left: 69vw;
}

#ikincitikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.ikincitiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.ucuncutik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1670px;
  left: 79vw;
}

#ucuncutikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.ucuncutiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.dorduncutik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1750px;
  left: 55vw;
}

#dorduncutikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.dorduncutiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.besincitik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1750px;
  left: 65vw;
}

#besincitikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.besincitiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.altincitik {
  display: inline-block;
  padding: 10px;
  padding-right: 90px;
  background-color: #1c212d;
  border-radius: 240px;
  position: absolute;
  top: 1750px;
  left: 75vw;
}

#altincitikicon {
  color: #10a3d7;
  display: inline;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 20px;
}
.altincitiktext {
  color: white;
  font-size: 20px;
  position: relative;
  left: 60px;
  top: -15px;
}
.card-part {
  height: 450px;
  width: 100vw;
  background-color: #070d1a;
}
.allcard {
  width: 930px;
  height: 250px;
  position: relative;
  top: 70px;
  left: 500px;
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}

.circleCard {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(16, 163, 215, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard:hover {
  transform: scale(1.2);
}
#cardicon {
  font-size: 50px;
  color: #10a3d7;
  position: relative;
  top: 14px;
}
.card1title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 65px;
}
.card1text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 43px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card2 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}
.circleCard2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(189, 125, 6, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard2:hover {
  transform: scale(1.2);
}
#cardicon2 {
  font-size: 50px;
  color: rgb(189, 125, 6);
  position: relative;
  top: 14px;
}
.card2title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 65px;
}
.card2text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 65px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card3 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}
.circleCard3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(28, 207, 22, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard3:hover {
  transform: scale(1.2);
}
#cardicon3 {
  font-size: 50px;
  color: rgba(28, 207, 22);
  position: relative;
  top: 14px;
}
.card3title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 45px;
}
.card3text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card4 {
  background-color: #1c212d;
  width: 216px;
  height: 265px;
  border-radius: 20px;
}

.circleCard4 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(192, 22, 207, 0.2);
  text-align: center;
  position: relative;
  top: 20px;
  left: 65px;
  transition: all 0.8s ease;
}
.circleCard4:hover {
  transform: scale(1.2);
}
#cardicon4 {
  font-size: 50px;
  color: rgb(192, 22, 207);
  position: relative;
  top: 14px;
}
.card4title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 50px;

  position: relative;
  top: 20px;
  left: 73px;
}
.card4text {
  color: rgb(110, 110, 110);
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.services {
  background-color: #070d1a;
  width: 100vw;
  height: 1400px;
}
.titleservices {
  color: white;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 47%;
}
.arkaservices {
  font-size: 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(51, 51, 59);
  position: relative;
  top: 50px;
  left: 44%;
}
.servicesaciklama {
  color: white;
  font-family: sans-serif;
  position: relative;
  top: 30px;
  left: 35%;
}

.servicesKutucuk {
  display: inline;
  padding: 10px 20px;
  background-color: #10a3d7;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  position: relative;
  top: 100px;
  left: 300px;
  font-family: sans-serif;
}
.servicestitle2 {
  position: relative;
  top: 140px;
  left: 300px;
  font-size: 40px;
  color: white;
  font-family: sans-serif;
  width: 900px;
}

.servicestext {
  color: rgb(185, 185, 185);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 180px;
  left: 300px;
  font-size: 20px;
  width: 900px;
}
.servicestext2 {
  color: rgb(185, 185, 185);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 220px;
  left: 300px;
  font-size: 20px;
  width: 900px;
}

.serviceskutubg1 {
  width: 310px;
  height: 122px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: -180px;
  left: 1300px;
}
.serviceskutu1 {
  width: 310px;
  height: 122px;
  background-color: #1c212d;
  border-radius: 10px;
  position: relative;
  top: -302px;
  left: 1304px;
}
.serviceskutu1title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.serviceskutu1text {
  color: rgb(185, 185, 185);
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}

.serviceskutubg2 {
  width: 310px;
  height: 122px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: -280px;
  left: 1300px;
}
.serviceskutu2 {
  width: 310px;
  height: 122px;
  background-color: #1c212d;
  border-radius: 10px;
  position: relative;
  top: -402px;
  left: 1304px;
}
.serviceskutu2title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.serviceskutu2text {
  color: rgb(185, 185, 185);
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}

.serviceskutubg3 {
  width: 310px;
  height: 122px;
  background-color: #10a3d7;
  border-radius: 10px;
  position: relative;
  top: -380px;
  left: 1300px;
}
.serviceskutu3 {
  width: 310px;
  height: 122px;
  background-color: #1c212d;
  border-radius: 10px;
  position: relative;
  top: -502px;
  left: 1304px;
}
.serviceskutu3title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 10px;
  left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.serviceskutu3text {
  color: rgb(185, 185, 185);
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 30px;
}

.services-card {
  width: 1500px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -400px;
  left: 170px;
}
.services-Card1 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card1-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px; 
   transition: all 0.5s ease-in-out;

}
#services-card1-icon {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  left: 15.5px;
  top: 7px;
    transition: all 0.5s ease-in-out;

}

.services-card1-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card1-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 340px;
  font-family: sans-serif;
}

.services-Card1:hover {
  transform: translateY(-20px);
  .services-card1-icon-box{
    background-color: #10a3d7;
  }
  #services-card1-icon {
    color: white;
  }
}

.services-Card2 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card2-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px; 
   transition: all 0.5s ease-in-out;

}
#services-card2-icon {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  left: 14px;
  top: 8px;
    transition: all 0.5s ease-in-out;

}

.services-card2-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card2-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 330px;
  font-family: sans-serif;
}

.services-Card2:hover {
  transform: translateY(-20px);
  .services-card2-icon-box{
    background-color: #10a3d7;
  }
  #services-card2-icon {
    color: white;
  }
}
.services-Card3 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card3-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px; 
   transition: all 0.5s ease-in-out;

}
#services-card3-icon {
  font-size: 40px;
  color: #10a3d7;
  position: relative;
  left: 6.5px;
  top: 9px;
    transition: all 0.5s ease-in-out;

}

.services-card3-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card3-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 330px;
  font-family: sans-serif;
}

.services-Card3:hover {
  transform: translateY(-20px);
  .services-card3-icon-box{
    background-color: #10a3d7;
  }
  #services-card3-icon {
    color: white;
  }
}
.services-Card4 {
  width: 355px;
  height: 350px;
  background-color: #1c212d;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
}

.services-card4-icon-box {
  width: 65px;
  height: 65px;
  background: rgba(16, 163, 215, 0.2);
  border-radius: 5px;
  position: relative;
  top: 50px;
  left: 20px; 
   transition: all 0.5s ease-in-out;

}
#services-card4-icon {
  font-size: 45px;
  color: #10a3d7;
  position: relative;
  left: 10.5px;
  top: 7px;
    transition: all 0.5s ease-in-out;

}

.services-card4-title {
  color: white;
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 23px;
  font-family: sans-serif;
}
.services-card4-text {
  color: white;
  position: relative;
  top: 110px;
  left: 20px;
  width: 330px;
  font-family: sans-serif;
}

.services-Card4:hover {
  transform: translateY(-20px);
  .services-card4-icon-box{
    background-color: #10a3d7;
  }
  #services-card4-icon {
    color: white;
  }
}



